/* src/styles/carousel.css */
@import "tailwindcss";

.carousel-container {
  @apply w-full h-[400px] relative overflow-hidden rounded-lg shadow-lg my-4;
}
 
.carousel-image {
@apply w-full h-full object-cover transition duration-500 ;
}
/*
.carousel-container {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}  h-64 
 */

 /*
.carousel-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}
*/

.carousel-image.active {
  opacity: 1;
  z-index: 1;
}

/* Optional responsive tweaks */
@media (max-width: 768px) {
  .carousel-container {
    height: 250px;
  }
  .carousel-image {
    height: 250px;
  }
}
